body, html {
  width: 100%;
  height: 100%;
  /* background-size: cover;
  background-image: url('https://i.imgur.com/E4BnVKW.jpg');
  background-attachment: fixed; */
}

#root {
  position: relative;
  width: auto;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.country-column-wrapper {
  width: calc(100vw / 3);
  height: 100%;
  padding: 0 2%;
  border-right: dotted 1px #ccc;
  display: inline-block;
  margin: 0 -270px 0 270px;
}

.nav-column-wrapper {
  width: 270px;
  height: 100%;
  border-right: dotted 1px #ccc;
  background: #f1f1f1;
  display: inline-block;
  position: fixed;
  z-index: 9;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.1);
  left: 0;
}

.logo {
  width: 80%;
  filter: hue-rotate(95deg) brightness(1.06);
  margin: 20px 10%;
}


.country-column {
  position: relative;
  height: 100%;
}

.chart {
  width: 100%;
  height: 38%;
}

.graph-total-combined {
  width: 100%;
  height: 38%;
  position: relative;
}

.graph-total-combined .chart, .graph-total-combined .chart-stack {
  height: 100%;
}

.chart-stack {
  width: 100%;
  height: 38%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
}

.short {
  height: 20%;
  opacity: 0.5;
}

.short.chart {
  height: 20%;
  opacity: 0.9;
  margin: 40px 0;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  color: #555;
  letter-spacing: 0px;
}

h1 {
  position: absolute;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-size: 70px;
  /* font-style: italic; */
  text-transform: uppercase;
  opacity: 1;
  color: #555;
  z-index: 1;
  width: 100%;
  top: 6%;
  left: 0;
}